---
import $ from "../../lib/jquery.mjs";
import Signatures from "./Signatures.astro";
import Description from "./Description.astro";
import Examples from "./Examples.astro";

const { entries, title, description } = Astro.props;
const name = entries.find("entry").first().attr("name");
const originalUrl = `api.jquery.com/${name}`;
---

<div id="entry">
  <ul id="entry-nav">
    <li>
      <a href="#signatures">
        <span>Signatures</span>
      </a>
    </li>
    <li>
      <a href="#description">
        <span>Description</span>
      </a>
    </li>
    <li>
      <a href="#examples">
        <span>Examples</span>
      </a>
    </li>
    <li class="right original">
      <a href={`https://${originalUrl}`}>
        <span>&#129133; {originalUrl}</span>
      </a>
    </li>
    <li class="right">
      <a href="/">
        <span>Home</span>
      </a>
    </li>
  </ul>

  <div id="entry-content">
    <section class="section">
      <h1 class="title is-2">{title}</h1>
      <h2 class="subtitle is-5">{description}</h2>

      {
        entries
          .find("entry")
          .toArray()
          .map((entry) => (
            <div class="entry">
              <Signatures entry={$(entry)} />
              <Description entry={$(entry)} />
              <Examples entry={$(entry)} />
            </div>
          ))
      }
    </section>
  </div>
</div>

<script>
  import $ from "jquery";
  import enrichContent from "../../lib/enrich-content.mjs";

  $(() => {
    enrichContent();
    $("#search input").focus();
  });
</script>
