---
import $ from "../../lib/jquery.mjs";
import Navigation from "./Navigation.astro";
import Signatures from "./Signatures.astro";
import Description from "./Description.astro";
import Examples from "./Examples.astro";
import { getReturnType } from "../../lib/signatures.mjs";

const { entries, title, description } = Astro.props;
const entriesArr = entries
  .find("entry")
  .toArray()
  .map((entry) => {
    const $entry = $(entry);

    return {
      id: getReturnType($entry),
      el: $entry,
    };
  });
---

<div id="entry">
  <Navigation entries={entries} title={title} />

  <div id="entry-content">
    <section class="section">
      <h1 class="title is-2">{title}</h1>
      <h2 class="subtitle is-5">{description}</h2>

      {
        entriesArr.map((entry) => (
          <div id={entry.id} class="entry">
            <Signatures entry={entry.el} />
            <Description entry={entry.el} />
            <Examples entry={entry.el} />
          </div>
        ))
      }
    </section>
  </div>
</div>

<script>
  import $ from "jquery";
  import enrichContent from "../../lib/enrich-content.mjs";

  $(() => {
    enrichContent();
  });
</script>
