---
import Signatures from "./EntrySignatures.astro";
import Description from "./EntryDescription.astro";
import Examples from "./EntryExamples.astro";

const { entry } = Astro.props;
const title = entry.find("entry > title").text();
const desc = entry.find("entry > desc").text();
---

<div id="entry">
  <ul id="entry-nav"></ul>

  <div id="entry-content">
    <section class="section">
      <h1 class="title is-2">{title}</h1>
      <h2 class="subtitle is-5">{desc}</h2>

      <Signatures entry={entry} />
      <Description entry={entry} />
      <Examples entry={entry} />
    </section>
  </div>
</div>

<script>
  import $ from "jquery";
  import enrichContent from "../lib/enrich-content.mjs";

  $(() => {
    enrichContent();
  });
</script>
